body {
    margin: 0;
    padding: 0;
}

footer {
    height: 60px;
    width: 100%;
    bottom: 0;
}

.model-viewer-box {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.model-viewer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    --progress-bar-color: rgba(245, 177, 36, 0.75);
}